* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* header */
.contenitore {
    width: 100%;
    border-bottom: solid 1px lightgray;

}

#logo {
    margin: 20px 10px;
    padding: 10px 10px;
    float: left;
    
    
}
#logo img{
    float: left;
}

#navigazione-logo {
    float: left;
    text-align: center;
    margin-top: 5px;
    
}
#navigazione-logo ul {
    list-style-type: none;
    width: 100%;
}

#navigazione-logo li{
    display: inline-block
}
#navigazione-logo li a {
    margin: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
}

#accedi {
    margin: 20px 10px;
    padding: 10px 10px;
    float: right;
    
}
#accedi #btn-acc{
    
    padding: 5px 10px;
    text-decoration: none;
    float: right;
    background-color: blue;
    color: white;
}

#navigazione-accedi {
    float: right;
    text-align: center;
    margin-top: 5px;
    
}
#navigazione-accedi ul {
    list-style-type: none;
    width: 100%;
}

#navigazione-accedi li{
    display: inline-block;
}
#navigazione-accedi li a {
    margin: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
}

/* jumbo */
#jumbo { 
    width: 100%;
    background-color: lightskyblue;
    position: relative;
    height: 600px;
}

#testo {
    margin: 0 auto;
    width: 80%;
}

#testo h1{
    font-size: 100px;
}

.text-left {
    float: left;
    margin: 50px 0;
    width: 30%;
    
}
.text-left a{
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 10px;
}
.text-left .btn-prova {
    margin: 50px 0 25px;
}
.fa-arrow-down{
    font-size: 25px;
}
.text-right img {
    float: right;
    width: 40%;
    position: absolute;
    margin: 50px;

}

