* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
.contenitore {
    width: 100%;
    border-bottom: solid 1px lightgray;

}

#logo {
    margin: 20px 10px;
    padding: 10px 10px;
    float: left;
    
    
}
#logo img{
    float: left;
}

#navigazione-logo {
    float: left;
    text-align: center;
    margin-top: 5px;
    
}
#navigazione-logo ul {
    list-style-type: none;
    width: 100%;
}

#navigazione-logo li{
    display: inline-block
}
#navigazione-logo li a {
    margin: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
}

#accedi {
    margin: 20px 10px;
    padding: 10px 10px;
    float: right;
    
}
#accedi #btn-acc{
    
    padding: 5px 10px;
    text-decoration: none;
    float: right;
    background-color: blue;
    color: white;
}

#navigazione-accedi {
    float: right;
    text-align: center;
    margin-top: 5px;
    
}
#navigazione-accedi ul {
    list-style-type: none;
    width: 100%;
}

#navigazione-accedi li{
    display: inline-block;
}
#navigazione-accedi li a {
    margin: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
}

/* jumbo */
#jumbo { 
    width: 100%;
    background-color: lightskyblue;
    position: relative;
    height: 600px;
}

#testo {
    margin: 0 auto;
    width: 80%;
}

#testo h1{
    font-size: 100px;
}

.text-left {
    float: left;
    margin: 50px 0;
    width: 40%;
    
}
.text-left a{
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 10px;
}
.text-left .btn-prova {
    margin: 50px 0 25px;
}
.fa-arrow-down{
    font-size: 25px;
}
.text-right img {
    float: right;
    width: 60%;

}

/* main */

/* sezione piano dropbox business */
#titolo-piano{
    margin: 0 auto;
    width: 60%; 
}
#titolo-piano h1{
    font-size: 50px;
    margin-top: 200px;
}

#checkbox{
    margin-top: 50px;
    margin-bottom: 30px;
}

/* abbonamenti */

.abbonamenti {
    margin: 0 auto;
    width: 60%;
}
.contenitore-abb {
    border: lightgray solid 1px;
    float: left;
    width: 25%;
    
}
.type h2{
    text-align: center;
    border-bottom:lightgray solid 1px ;
}

.centratura-text {
    padding: 20px;
    
}

.titolo-box h1{
    margin-bottom: 10px;
}
.titolo-box h2{
    margin-bottom: 10px;
}
.titolo-box h3{
    margin-bottom: 30px;
}

.centro-box h4{
    margin-bottom: 15px;
}

.btn-prova-box a{
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 10px;
    width: 100%;
}
.btn-prova-box {
    margin: 50px 0 25px;
}

.centro-box span {
    border-bottom: lightgray solid 1px;
    margin: 35px 0;
}
.centro{
    margin-left: 12.5%;
}

.fine-box {
    margin-top: 50px;
}
.fine-box ul{
    list-style-type: none;
}
.destra {
    margin-left: 12.5%;
}

.sotto {
    width: 100%;
    margin-top: 35px;
}
#titolo-box h1 {
    margin-bottom: 10px;
}
#titolo-box h3 {
    margin-bottom: 20px;
}

#contatta{
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 10px;
    float: right;
}

/* partner */

.partner {
    margin: 0 auto;
    width: 60%;
}

.partner-box{
    margin-top: 150px;
}
#img img{
    object-fit: cover;
    width: 55%;
    float: left;
}

#text-p{
    width: 35%;
    float: left;
    margin-left: 5%;
    
}
#text-p h2{
    margin: 30px 0;
}
#text-p p{
    margin-bottom: 25px;
}

#text-p a{
    color: black;
    text-decoration: none;
    background-color: white;
    border: solid black 1px;
    padding: 10px;
}

/* operazioni  */

.operazioni {
    margin: 0 auto;
    width: 60%;
}

#titolo-op {
    margin: 100px 0 40px;
    font-size: 50px;
}

.sx {
    float: left;
    width: 30%;
      
}
.sx img{
    object-fit: cover;  
    width: 100%;
}
.sx h2{
    margin: 10px 0;
}
.sx p{
    margin-bottom: 100px;
}

.c {
    float: left;
    margin-left: 3.33%;
    width: 30%;   
}
.c img{
    object-fit: cover;  
    width: 100%;
}
.c h2{
    margin: 10px 0;
}
.c p{
    margin-bottom: 100px;
}

.dx {
    float: left;
    margin-left: 3.33%;
    width: 30%; 
}
.dx img{
    object-fit: cover;  
    width: 100%;
}
.dx h2{
    margin: 10px 0;
}
.dx p{
    margin-bottom: 100px;
}